.container {
  display: flex;
  justify-content: space-between;
}

.solution1, .solution2, .description {
  width: 30vw;
}

.description h2 {
  margin-top: 0px;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  .solution1, .solution2, .description {
    width: 100%;
  }
}
