{{page-title "Advent Of Code 2023"}}
<nav class="navigation">
  <ul>
    <LinkTo @route="puzzles.1">1</LinkTo>
    <LinkTo @route="puzzles.2">2</LinkTo>
    <LinkTo @route='puzzles.3'>3</LinkTo>
    <LinkTo @route='puzzles.4'>4</LinkTo>
    <LinkTo @route='puzzles.5'>5</LinkTo>
    <LinkTo @route='puzzles.6'>6</LinkTo>
    <LinkTo @route='puzzles.7'>7</LinkTo>
    <LinkTo class="half-complete" @route="puzzles.8">8</LinkTo>
    <LinkTo class="complete" @route="puzzles.9">9</LinkTo>
    <LinkTo @route="puzzles.10">10</LinkTo>
    <LinkTo @route="puzzles.11">11</LinkTo>
    <LinkTo @route="puzzles.12">12</LinkTo>
    <LinkTo @route="puzzles.13">13</LinkTo>
    <LinkTo @route="puzzles.14">14</LinkTo>
    <LinkTo @route="puzzles.15">15</LinkTo>
    <LinkTo @route="puzzles.16">16</LinkTo>
    <LinkTo @route="puzzles.17">17</LinkTo>
    <LinkTo @route="puzzles.18">18</LinkTo>
    <LinkTo @route="puzzles.19">19</LinkTo>
    <LinkTo @route="puzzles.20">20</LinkTo>
    <LinkTo @route="puzzles.21">21</LinkTo>
    <LinkTo @route="puzzles.22">22</LinkTo>
    <LinkTo @route="puzzles.23">23</LinkTo>
    <LinkTo @route="puzzles.24">24</LinkTo>
    <LinkTo @route="puzzles.25">25</LinkTo>
  </ul>
</nav>
<div class="content-wrap">
<h1>Welcome to MinThaMie & Liulangzhe's advent of code 2023</h1>
{{outlet}}
</div>
<footer class="footer">
  <span>An open-source project made with ❤️ by <a href="https://twitter.com/agvanherwijnen" class="underline" rel="external">Anne-Greeth</a> and <a href="https://github.com/Liulangzhe98/" class="underline" rel="external">Thijs</a>. Hosted by <a href="https://www.netlify.com" class="underline" rel="external">Netlify</a>.</span>
  <span>Wanna run this project yourself, check out the code on the <a href="https://github.com/minthamie/advent-of-code-2023" class="underline" rel="external">GitHub repository</a>.</span>
</footer>
