{{page-title "Advent Of Code2023"}}
<div local-class="content-wrap">
<h1>Welcome to MinThaMie & Liulangzhe98's advent of code 2023</h1>
<nav local-class="navigation">
  <ul>
  </ul>
</nav>
{{outlet}}
</div>
<footer local-class="footer">
  <span>An open-source project made with ❤️ by <a href="https://twitter.com/agvanherwijnen" class="underline" rel="external">Anne-Greeth</a> and Thijs. Hosted by <a href="https://www.netlify.com" class="underline" rel="external">Netlify</a>.</span>
  <span>Wanna run this project yourself, check out the code on the <a href="https://github.com/minthamie/advent-of-code-2023" class="underline" rel="external">GitHub repository</a>.</span>
</footer>
