{{page-title "Advent Of Code2023"}}
<div local-class="content-wrap">
<h1>Welcome to MinThaMie & Liulangzhe98's advent of code 2023</h1>
<nav local-class="navigation">
  <ul>
    <LinkTo @route="puzzles.1">Day 1</LinkTo>
    <LinkTo @route="puzzles.2">Day 2</LinkTo>
    <LinkTo @route='puzzles.3'>Day 3</LinkTo>
    <LinkTo @route='puzzles.4'>Day 4</LinkTo>
    <LinkTo @route='puzzles.5'>Day 5</LinkTo>
    <LinkTo @route='puzzles.6'>Day 6</LinkTo>
    <LinkTo @route='puzzles.7'>Day 7</LinkTo>
    <LinkTo @route="puzzles.8">Day 8</LinkTo>
    <LinkTo @route="puzzles.9">Day 9</LinkTo>
    <LinkTo @route="puzzles.10">Day 10</LinkTo>
    <LinkTo @route="puzzles.11">Day 11</LinkTo>
    <LinkTo @route="puzzles.12">Day 12</LinkTo>
    <LinkTo @route="puzzles.13">Day 13</LinkTo>
    <LinkTo @route="puzzles.14">Day 14</LinkTo>
    <LinkTo @route="puzzles.15">Day 15</LinkTo>
    <LinkTo @route="puzzles.16">Day 16</LinkTo>
    <LinkTo @route="puzzles.17">Day 17</LinkTo>
    <LinkTo @route="puzzles.18">Day 18</LinkTo>
    <LinkTo @route="puzzles.19">Day 19</LinkTo>
    <LinkTo @route="puzzles.20">Day 20</LinkTo>
    <LinkTo @route="puzzles.21">Day 21</LinkTo>
    <LinkTo @route="puzzles.22">Day 22</LinkTo>
    <LinkTo @route="puzzles.23">Day 23</LinkTo>
    <LinkTo @route="puzzles.24">Day 24</LinkTo>
    <LinkTo @route="puzzles.25">Day 25</LinkTo>
  </ul>
</nav>
{{outlet}}
</div>
<footer local-class="footer">
  <span>An open-source project made with ❤️ by <a href="https://twitter.com/agvanherwijnen" class="underline" rel="external">Anne-Greeth</a> and Thijs. Hosted by <a href="https://www.netlify.com" class="underline" rel="external">Netlify</a>.</span>
  <span>Wanna run this project yourself, check out the code on the <a href="https://github.com/minthamie/advent-of-code-2023" class="underline" rel="external">GitHub repository</a>.</span>
</footer>
